@import '../../vars.css';

.header {
  padding: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--base-900);
  border-bottom: 4px solid var(--secondary);
}

.h1 {
  position: relative;
  font-size: 1.75rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 200ms ease-in-out;
  z-index: 200;
}

.h1-open {
  color: var(--base-900);
}

.h1-closed {
  color: var(--secondary);
}

.h1:visited {
  text-decoration: none;
}

.nav {
  color: var(--base-100);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.btn {
  height: 30px;
  width: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--secondary);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus {
  font-size: 1.5rem;
  transition: all ease-in-out 200ms;
}

.rotate {
  rotate: 45deg;
  font-size: 2rem;
}

.form-container {
  background-color: var(--secondary);
  height: 95vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transition: all ease-in-out 200ms;
  display: grid;
  place-items: center;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  overflow: hidden;
}

.closed {
  transform: translateY(-100%) translateX(100%);
}

.open {
  transform: translateY(0) translateX(0);
  overflow-y: hidden;
}

@media screen and (min-width: 768px) {
  .h1 {
    font-size: 3rem;
  }

  .btn {
    height: 40px;
    width: 40px;
  }

  .plus {
    font-size: 2rem;
  }
}