@import '../../vars.css';

.header {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--base-900);
}

.h1 {
  font-size: 1.75rem;
  text-transform: uppercase;
  color: var(--primary);
  text-decoration: none;
}

.h1:visited {
  text-decoration: none;
}

.link {
  color: var(--base-100);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.btn {
  height: 30px;
  width: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--secondary);
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .h1 {
    font-size: 3rem;
  }

  .icon {
    font-size: 2.5rem;
  }
}