@import './vars.css';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--base-700);
  color: var(--base-100);
}